@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/background.png");
  color: lightblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;
}
